body{
	background-color: black;
}

.margintop{
	margin-top: 15px;
}
.dividers{
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid grey;
}

.header{
	padding-bottom: 0;
}

.btn-success, .btn-success:hover{
	color: white !important;
	background-color: black !important;
}